# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor
Gemfile.lock
$ bundle lock --add-platform x86_32-linux

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
